<nav class="toolbar">
  <button mat-raised-button (click)="signin()" *ngIf="!loggedIn">Sign In with Google</button>
  <button mat-icon-button (click)="signout()" *ngIf="loggedIn">
    <mat-icon>logout</mat-icon>
  </button>
  <!-- <button mat-icon-button (click)="refresh()" *ngIf="loggedIn">
    <mat-icon>refresh</mat-icon>  
  </button> -->
  <button mat-icon-button (click)="sync()" *ngIf="loggedIn">
    <mat-icon>cloud_sync</mat-icon>
  </button>
  <button mat-icon-button (click)="export()" *ngIf="loggedIn">
    <mat-icon>file_download</mat-icon>
  </button>
  <button mat-icon-button (click)="settings()" *ngIf="loggedIn">
    <mat-icon>settings</mat-icon>
  </button>
  <span>
    {{toolbarMsg}}
  </span>
  <mat-spinner
    *ngIf="toolbarSpin"
    diameter="24"
    mode="indeterminate">
  </mat-spinner>
  <mat-progress-spinner
    *ngIf="toolbarProgress > 0"
    diameter="24"
    mode="determinate"
    [value]="toolbarProgress">
  </mat-progress-spinner>
</nav>

<main>
  <div class="widget allLists">
    <b>All Lists</b>
    <ul>
      <li *ngFor="let list of allLists" (click)="selectList(list)">
        <mat-icon class="{{iconClass(list.title)}}">checklist</mat-icon>
        {{list.title}}
      </li>
    </ul>
  </div>
  <div class="widget folders">
    <b>Folders</b>
    <ul>
      <li *ngFor="let folder of folders" (click)="filterFolder(folder)">
        <mat-icon class="{{iconClass(folder)}}">folder</mat-icon>
        {{folder}}
      </li>
    </ul>
  </div>
  <div class="widget tags">
    <b>Tags</b>
    <ul>
      <li *ngFor="let tag of tags" (click)="filterTag(tag)">
        <mat-icon class="{{iconClass(tag)}}">folder</mat-icon>
        {{tag}}
      </li>
    </ul>
  </div>
  <div class="listing">
    <b>My Tasks ({{filteredTasks.length}})</b>
    <ul>
      <li *ngFor="let task of filteredTasks" (click)="selectTask(task)">
        <mat-icon class="{{iconClass(task.title)}}">task</mat-icon>
        {{task.title}}
      </li>
    </ul>
  </div>
  <div class="details">
    <div *ngIf="selection">
      <button mat-icon-button (click)="unselect()" class="close">
        <mat-icon>close</mat-icon>
      </button>
      <div class="detailsdiv">
        <b>{{selection?.title}}</b>
        <br><br>
        <markdown [data]="selection?.notes ?? undefined">
        </markdown>
        <p *ngIf="selection?.due">
          Due {{dueStr(selection?.due)}}
        </p>
      </div>
      <button mat-raised-button class="action" (click)="completed()">
        <mat-icon>task_alt</mat-icon>
        Completed
      </button>
    </div>
  </div>
</main>

<dialog #dsettings>
  <h1>App Settings</h1>
  <div>
    <strong>Plugin: GitHub</strong>
    <br>
    <input type="password" placeholder="GitHub Access Token" [(ngModel)]="clientSettings['github']['auth']" />
  </div>
  <br><br>
  <button (click)="saveSettings()">Save and Close</button>
</dialog>

<dialog #derrors>
  <h1>Sync Errors</h1>
  <span>Visit your settings to fix potential errors.</span>
  <ul>
    <li *ngFor="let e of syncErrors">{{e}}</li>
  </ul>
  <button (click)="closeDialogs()">Okay</button>
</dialog>