<div class="toolbar">
  <button (click)="signin()" *ngIf="!loggedIn">Sign In</button>
  <button (click)="signout()" *ngIf="loggedIn">Sign Out</button>
  <button (click)="sync()" *ngIf="loggedIn">Sync</button>
  <button (click)="export()" *ngIf="loggedIn">Export</button>
  <span>
    {{toolbarMsg}}
  </span>
</div>

<main>
  <div class="widget allLists">
    <b>All Lists</b>
    <ul></ul>
  </div>
  <div class="widget folders">
    <b>Folders</b>
    <ul>
      <li *ngFor="let folder of folders" (click)="filterFolder(folder)">
        {{folder}}
      </li>
    </ul>
  </div>
  <div class="widget tags">
    <b>Tags</b>
    <ul>
      <li *ngFor="let tag of tags" (click)="filterTag(tag)">
        {{tag}}
      </li>
    </ul>
  </div>
  <div class="listing">
    <b>My Tasks ({{filteredTasks.length}})</b>
    <ul>
      <li *ngFor="let task of filteredTasks" (click)="selectTask(task)">
        {{task.title}}
      </li>
    </ul>
  </div>
  <div class="details">
    <div *ngIf="selection">
      <button (click)="unselect()">Close</button>
      <br>
      <b>{{selection?.title}}</b>
      <br><br>
      {{selection?.notes}}
      <br><br>
      <button (click)="completed()">Completed</button>
    </div>
  </div>
</main>